﻿/**
 * YS Reset CSS v2.1.0. 
 * 
 * Based on Eric Meyer's Reset CSS v2.0 - http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
dialog {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
main, details, summary, menu {
	display:block;
}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/* Standardize box-sizing */
html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}
details > * {box-sizing:border-box;} /* Ensure details/summary inherit box-sizing correctly (Webkit/Blink bug) */

/* Ensure form elements inherit box-sizing and fonts */
input, textarea, select, optgroup, button {
	padding: 0;
	margin: 0;
	box-sizing:inherit;
	font-family:inherit;
	font-size:100%;
	font-weight:inherit;
	color: inherit;
}
input::-moz-focus-inner,button::-moz-focus-inner {padding:0;border:0} /* Strip extra button padding from FF */

/* Avoid 300ms click delay on touch devices that support the `touch-action` CSS property */
a,area,button,[role="button"],input:not([type="range"]),label,select,summary,textarea {touch-action:manipulation;}